
.place__title {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;

  color: #fff;
}

@media screen and (max-width: 769px) {
  .place__title {
    padding: 0 10px 0 0;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    margin: 0 16px;

    font-size: 32px;
    line-height: 35px;
  }
}
